/* Styling for the about page */
/* @author Christian Boughton */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.img    {
    position: absolute;
    margin-top: .5%;
    margin-left: 47.5vw;
    display: inline;
    justify-content: center;
}

.banner {
    background-color: whitesmoke;
    display: block;
    position: absolute;
    height: 10vh;
    width: 100%;
    overflow: auto;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, rgb(109, 109, 109) 25%, rgb(37, 37, 37) 75%) 5;
    z-index: -1;
}

.textBox    {
    background-color: rgb(123, 63, 0);
    position: relative;
    color: whitesmoke;
    margin-left: 2px;
    padding: 10px;
    max-width: 19.6%;
    min-height: 220px;
    border-radius: 2px;
    display: inline-block;
    font-size: larger;
    top: 0px;
    vertical-align: top;
    text-align: center;
}

.fontTwo    {
    font-size: medium;
}

.imgRef    {
        border-radius: 4px;
        width: 19.7%;
        margin-top: 10vh;
        float: left;
        margin-left: 4px;
        height: 40vh;
    }

.button  {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: larger;
    color: black;
    text-align: center;
    cursor: pointer;
}

.button:hover, .buttonadd:focus {
    color: rgb(123, 63, 0);
}